html {
  /* font-size: 10px; */
  /* Percentage of user's browser font-size setting */
  /* 10px / 16px = 62,5% */
  font-size: 62.5%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.test {
  /* width: 1000px; */
  max-width: 50rem;
  /* max-width: 1000px; */
  background-color: red;
  /* padding: 100px; */

  padding: 4rem;
  font-size: 2rem;
}